In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("kepadatanpenduduk.csv")

In [4]:
data.head(300)

   nama_kabupaten_kota  tahun  kondisi  kepadatan_penduduk
0   Kota Jakarta Pusat   2018        0                 125
1   Kota Jakarta Barat   2018        1                 300
2   Kota Jakarta Utara   2018        1                 400
3   Kota Jakarta Pusat   2018        0                 150
4   Kota Jakarta Barat   2018        0                 225
5   Kota Jakarta Utara   2018        1                 220
6   Kota Jakarta Utara   2018        0                 211
7   Kota Jakarta Utara   2018        0                 112
8   Kota Jakarta Utara   2018        1                 202
9   Kota Jakarta Utara   2018        1                 210
10  Kota Jakarta Utara   2018        1                 225
11  Kota Jakarta Utara   2018        0                 299
12  Kota Jakarta Utara   2018        0                 312
13  Kota Jakarta Utara   2018        1                 265
14  Kota Jakarta Utara   2019        1                 239
15  Kota Jakarta Utara   2019        0                 286
16  Kota Jakarta Utara   2019        1                 291
17  Kota Jakarta Utara   2019        0                 232
18  Kota Jakarta Utara   2019        1                 331
19  Kota Jakarta Utara   2019        1                 234
20  Kota Jakarta Utara   2019        0                 165
21  Kota Jakarta Utara   2019        0                 236
22  Kota Jakarta Utara   2019        1                 176
23  Kota Jakarta Utara   2019        1                 335

In [12]:
atributData = data.iloc[:,:-1].values
labelData = data.iloc[:,-1].values

In [6]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp_mean.fit(atributData[:,:-1])
atributData[:,:-1] = imp_mean.transform(atributData[:,:-1])

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X_train, X_test, y_train, y_test = train_test_split(atributData, labelData, test_size=0.33, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
from sklearn import tree
classifier = tree.DecisionTreeClassifier(max_depth=3)
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report
confusion_matrix(y_test, y_pred)

In [ ]:
print(classification_report(y_test, y_pred))

In [ ]:
plt.figure(figsize=(12,12))
tree.plot_tree(classifier, feature_names=data.columns.values.tolist(), class_names=data.columns.values.tolist())
plt.title("Decision tree trained on all the water conditions")
plt.show()